name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

env:
  PLATFORM: Docker Engine - WAGO (Community)
  DEFAULT_PRODUCT_LICENSE: Community Engine
  DOCKER_GITCOMMIT: ${{ github.sha }}
  DOCKER_EXPERIMENTAL: 1
  DOCKER_GRAPHDRIVER: overlay2
  BUILDKIT_PROGRESS: plain
  BASE_DEBIAN_DISTRO: stretch
  GO_VERSION: 1.16.7
  APT_MIRROR: cdn-fastly.deb.debian.org
  CHECK_CONFIG_COMMIT: 78405559cfe5987174aa2cb6463b9b2c1b917255
  TESTDEBUG: 0
  TIMEOUT: 120m
  BUILD_OUTPUT: bundles
  VERSION: 20.10-dev

jobs:
  check:
    runs-on: ubuntu-18.04
    
    outputs:
      stringver: ${{ steps.contentrel.outputs.stringver }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Release content
        id: contentrel
        run: |
          releasever=${{ github.ref }}
          echo "::set-output name=stringver::${releasever#refs/tags/v}"

          file_path="${BUILD_OUTPUT}"/release-notes.md
          echo "::set-output name=path::${file_path}"

          mkdir -p "${BUILD_OUTPUT}"
          git tag -l ${releasever#refs/tags/} -n20000 | tail -n +3 | cut -c 5- > "${file_path}"

      - name: Save release notes
        uses: actions/upload-artifact@v2
        with:
          name: dockerd-release-notes
          path: ${{ steps.contentrel.outputs.path }}

  build-static-binary:
  
    strategy:
      matrix:
        include:
        - arch: arm32v7
          platform: linux/arm/v7
      
    runs-on: ubuntu-18.04
    needs:
      - check

    env:
      VERSION: ${{ needs.check.outputs.stringver }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Make binary
      id: docker-make
      uses: WAGO/docker-actions/docker-make@release/v1.0
      with:
        targets: |
          binary
        golang-version: ${{ env.GO_VERSION }}
        base-debian-distro: ${{ env.BASE_DEBIAN_DISTRO }}
        host-arch: ${{ matrix.arch }}
        target-platform: ${{ matrix.platform }}
        check-config-commit: ${{ env.CHECK_CONFIG_COMMIT }}
        project-version: ${{ env.VERSION }}
        build-output: ${{ env.BUILD_OUTPUT }}
        buildx-build-args: |
          --build-arg SOURCE_DATE_EPOCH
          --build-arg BUILDTIME

    - name: Download docker cli
      id: download-docker-cli
      uses: WAGO/docker-actions/download-release-asset@release/v1.0
      with:
        repository: WAGO/docker-cli
        token: ${{ secrets.GITHUB_TOKEN }}
        url-filterpattern: docker-cli-.*static.*-${{ steps.docker-make.outputs.target-platform-id }}[.]tar[.]gz
        working-directory: ${{ env.BUILD_OUTPUT }} 

    - name: Extract docker cli
      id: extract-docker-cli
      env:
        DOWNLOAD_PATH: ${{ steps.download-docker-cli.outputs.root-path }}
      run: |
        build_output="${BUILD_OUTPUT}/binary-daemon"
        tar -C "${build_output}" -xzvf "${DOWNLOAD_PATH}/docker-cli-"*"static"*".tar.gz"
        echo "::set-output name=path::${build_output}"

    - name: Create bundle
      id: create-bundle
      env:
        BUNDLE_PLATFORM: ${{ steps.docker-make.outputs.target-platform-id }}
      run: |
        bundle_archive_name="docker-${VERSION//\./_}_static-${BUNDLE_PLATFORM}.tar"
        bundle_archive_base="${BUILD_OUTPUT}/${bundle_archive_name}"
        bundle_archive="${bundle_archive_base}.gz"
        build_output="${{ steps.extract-docker-cli.outputs.path }}"
        tar -C "${build_output}" -czvf "${bundle_archive}" .
        (cd "$(dirname "${bundle_archive}")"; sha256sum "$(basename "${bundle_archive}")") > "${bundle_archive}".sha256sum
        echo "::set-output name=archive-base::${bundle_archive_base}"
        echo "::set-output name=input-path::${build_output}"

    - name: Upload bundle
      uses: actions/upload-artifact@v2
      with:
        name: docker-bundles
        path: ${{ steps.create-bundle.outputs.archive-base }}.*
        retention-days: 7

    - name: Print artifact version informations
      env:
        BUNDLE_INPUT_PATH: ${{ steps.create-bundle.outputs.input-path }}
      run: |
        "${BUNDLE_INPUT_PATH}/runc" --version
        "${BUNDLE_INPUT_PATH}/containerd" --version
        "${BUNDLE_INPUT_PATH}/dockerd" --version
        "${BUNDLE_INPUT_PATH}/docker" version

  release:
    runs-on: ubuntu-18.04

    needs: 
      - build-static-binary
      - check

    outputs:
      upload_url: ${{ steps.create-release.outputs.upload_url }}

    steps:
      - name: Download Release notes
        uses: actions/download-artifact@v2
        with:
          name: dockerd-release-notes
          path: ${{ env.BUILD_OUTPUT }}
      - name: Create Release
        id: create-release
        uses: actions/create-release@v1.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: docker ${{ needs.check.outputs.stringver }}
          body_path: ${{ env.BUILD_OUTPUT }}/release-notes.md
          draft: false
          prerelease: ${{ contains(github.ref, 'beta') || contains(github.ref, 'rc') }}

  release-upload:
    runs-on: ubuntu-18.04

    needs:
      - release

    steps:
    - name: Download bundles
      uses: actions/download-artifact@v2
      with:
        name: docker-bundles
        path: ${{ env.BUILD_OUTPUT }}
          
    - name: Create catalog
      id: catalog
      run: |
        _filenum=1
        for f in $(ls "docker-"*); do
          echo "::set-output name=file${_filenum}::${f}"
          let _filenum+=1
        done
      working-directory: ${{ env.BUILD_OUTPUT }}
      shell: bash

    - name: 1st Upload tarball
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ${{ env.BUILD_OUTPUT }}/${{ steps.catalog.outputs.file1 }}
        asset_name: ${{ steps.catalog.outputs.file1 }}
        asset_content_type: application/gzip
    - name: 1st Upload sha256 sum
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ${{ env.BUILD_OUTPUT }}/${{ steps.catalog.outputs.file2 }}
        asset_name: ${{ steps.catalog.outputs.file2 }}
        asset_content_type: text/plain

    - name: 2nd Upload tarball
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ${{ env.BUILD_OUTPUT }}/${{ steps.catalog.outputs.file3 }}
        asset_name: ${{ steps.catalog.outputs.file3 }}
        asset_content_type: application/gzip
    - name: 2nd Upload sha256 sum
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ${{ env.BUILD_OUTPUT }}/${{ steps.catalog.outputs.file4 }}
        asset_name: ${{ steps.catalog.outputs.file4 }}
        asset_content_type: text/plain
